In [1]:
student = {'name':'john',
           'age':25,
           'course':["Math" , "Compsci"],
           'phone':555-55555,
           'address':'123 Main St',
           'city':'New York'}
print(student)

{'name': 'john', 'age': 25, 'course': ['Math', 'Compsci'], 'phone': -55000, 'address': '123 Main St', 'city': 'New York'}

fisrt method to access dictionary value:

In [3]:
print(student['name'])
print(student['course'])

john
['Math', 'Compsci']

.get() func: second method to access the dictionary value

In [5]:
print(student.get('name'))
print(student.get('course'))

john
['Math', 'Compsci']

In [10]:
# to add a new key:value pair.
student['school'] = 'MIT'
student['DOB'] = '02 - january - 2002'
student["Father's name"] = 'Albert'
print(student)

{'name': 'john', 'age': 25, 'course': ['Math', 'Compsci'], 'phone': -55000, 'address': '123 Main St', 'city': 'New York', 'school': 'MIT', 'DOB': '02 - january - 2002', "Father's name": 'Albert'}

In [11]:
show = {'name':'Radha Krishna',
        'male lead':'Sumedh Mudgalkar',
        'female lead':'Malika Singh',
        'total season': 2,
        'rating':4.5,
        'ott':'hotstar'}
print(show)

{'name': 'Radha Krishna', 'male lead': 'Sumedh Mudgalkar', 'female lead': 'Malika Singh', 'total season': 2, 'rating': 4.5, 'ott': 'hotstar'}

In [20]:
# to print key using loop
for key in show.keys():
    print(key)

name
male lead
female lead
total season
rating
ott

In [18]:
# to print key and value both using loop.
for k,v in show.items():
    print(k,v)

name Radha Krishna
male lead Sumedh Mudgalkar
female lead Malika Singh
total season 2
rating 4.5
ott hotstar

In [21]:
# to print value using loop:
for v in show.values():
    print(v)

Radha Krishna
Sumedh Mudgalkar
Malika Singh
2
4.5
hotstar

In [23]:
print(show.keys())
print(show.values())
print(show.items())

dict_keys(['name', 'male lead', 'female lead', 'total season', 'rating', 'ott'])
dict_values(['Radha Krishna', 'Sumedh Mudgalkar', 'Malika Singh', 2, 4.5, 'hotstar'])
dict_items([('name', 'Radha Krishna'), ('male lead', 'Sumedh Mudgalkar'), ('female lead', 'Malika Singh'), ('total season', 2), ('rating', 4.5), ('ott', 'hotstar')])