FOR LOOP:

In [2]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [9]:
a = ["Gmail" , "Photos" , "Youtube" , "WhatsApp" , "Music" ,"Google" , "Meet" , "Netflix" , 
    "Lightroom" , "JioSaavn" , "Google pay" , "Phone pay" , "Spotify" , "Amazon Prime" , 
     "Instagram" , "Telegram" , "Twitter" , "LinkedIn" , "Ganna" ]
for i in range (1):
    print(a[2:10])

['Youtube', 'WhatsApp', 'Music', 'Google', 'Meet', 'Netflix', 'Lightroom', 'JioSaavn']

In [4]:
for i in range(6):
    print("I am the best")

I am the best
I am the best
I am the best
I am the best
I am the best
I am the best

In [10]:
for i in range(5,10):
    print(i*'Na')

NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [4]:
movies = ["KGF" , "SINGHAM" , "DILWALE" , "KALANK"]
for movie in movies:
    print(f'{movie}|{len(movie)}')

KGF|3
SINGHAM|7
DILWALE|7
KALANK|6

In [1]:
for x in range(101):
    print(x , end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [14]:
data = [10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90]
for i in enumerate(data):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)
(8, 90)

In [20]:
# Non-Pythonic
x = [1 , 2, 3, 4 , 5]
y = [10 , 12 , 13 , 14 , 15]
for i in range(len(x)):
    z = x[i] + y[i]
    print(z)

11
14
16
18
20

In [21]:
# pythonic
for i , j in zip(x , y):
    out = i+j
    print(out)

11
14
16
18
20

In [28]:
x = [2 , 3,  4, 6, 7 , 4]
y = [4 , 5 , 6 , 3, 5]
z = [2 , 3, 4 , 5 , 6]
for i,j,k in zip(x,y,z):
    a = i*j*k
    print(a)

16
45
96
90
210

In [5]:
for i in range(5):
    print(i + 1)

for i in range(0 , 20):
    print(i + 1)

1
2
3
4
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in range(1 , 12 , 2):
    print(i)

1
3
5
7
9
11

In [3]:
for i in range (10):
   if (i%2 == 0):
    print(i)

0
2
4
6
8

In [24]:
a = [ 5  , 10 , 15 , 20]
sum = 0
for i in a :
    sum+=i**2
print("the sum of square of the number is:", sum)

the sum of square of the number is: 750

In [26]:
num = input("Enter a number:")
sum = 0
for digit in num:
    sum+=int(digit)
print("The sum of digits of the number is :" , sum)

The sum of digits of the number is : 28

WHILE LOOP :

In [29]:
x = 1 
while x<5:
    print(x)
    x += 1
print(x)

1
2
3
4
5

In [1]:
x = 1 
while x<20:
    print(x)
    x += 1
print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

BREAK AND CONTINUE

In [2]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [4]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [6]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [1]:
# reverse the number.

count = 5
while(count >0):
    print(count)
    count = count - 1

5
4
3
2
1