In [3]:
import pandas as pd
df = pd.read_csv('book_levels.csv')
df

,Title,Author,Language Level
0,Hop on Pop,Dr. Seuss,level_6a
1,"Jesse Bear,What Will You Wear?",Nancy White Carlstrom,level_6a
2,Eating the Alphabet: Fruits and Vegetables fro...,Lois Ehlert,level_6a
3,Black? White! Day? Night!,Laura Vaccaro Seeger,level_6a
4,Big Red Barn,Margaret Wise Brown,level_6a
...,...,...,...
231,The Waste Land and Other Poems,T.S. Eliot,level_L
232,Macbeth,William Shakespeare,level_L
233,Uncle Tom's Cabin,Harriet Beecher Stowe,level_L
234,Death of a Salesman,Arthur Miller,level_L
235,The French Lieutenant's Woman,John Fowles,level_L

In [4]:
df.columns

Index(['Title', 'Author', 'Language Level'], dtype='object')

In [5]:
df.columns.tolist()

['Title', 'Author', 'Language Level']