In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('laptops.csv')
df

,title,price,rating
0,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",NaN
1,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",NaN
2,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",4.4 out of 5 stars
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",NaN
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",NaN
...,...,...,...
334,"Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U,...","39,990",NaN
335,(Renewed) DELL Latitude 5490 Core i5 8th Gen L...,"26,615",NaN
336,"ASUS Vivobook S 14 Flip (2023), AMD Ryzen 5 75...","68,990",NaN
337,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",NaN
338,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...","56,990",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   339 non-null    object
 1   price   331 non-null    object
 2   rating  24 non-null     object
dtypes: object(3)
memory usage: 8.1+ KB

In [9]:
print(df.columns.to_list())

['title', 'price', 'rating']

cleaning:

In [18]:
def clean_price_col(price):
    if isinstance(price,str):
        price = price.replace(',','')
        price = price.strip()
    if price.isnumeric():
        price = int(price)
        return price
    if len(price)==0:
        return np.nan
    return price

In [11]:
clean_price_col('1,999')

1999

In [20]:
df['cleaned_price']=df['price'].apply(clean_price_col)

AttributeError: 'float' object has no attribute 'isnumeric'

In [21]:
def clean_rating_column(rating):
    if isinstance(rating,str):
        rating= -rating.split([0])
        return float(rating)
    return rating

In [22]:
df['cleaned_rating']=df['rating'].apply(clean_rating_column)

TypeError: must be str or None, not list

In [ ]:
df.sort_values(by='cleaned_price',ascending=False,inplace=True).head(50)

In [23]:
df.drop(columns=['price','rating'],inplace=True)

In [24]:
df

                                                 title
0    HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...
1    Dell Vostro 3420 Laptop,12th Gen Intel Core i3...
2    Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...
3    HP 255 G8 Laptop with AMD Athlon Silver 3050U ...
4    Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...
..                                                 ...
334  Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U,...
335  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...
336  ASUS Vivobook S 14 Flip (2023), AMD Ryzen 5 75...
337  Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...
338  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...

[339 rows x 1 columns]